body{
    margin: 0;
    padding: 0%;
    margin: 20px;
    background: #DA4453;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #89216B, #DA4453);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #89216B, #DA4453); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
nav{
    border: 10px black;
}

.first_section, .second_section{
    display: flex;
    margin-top: 20px;
}

.greetings{
    font-family: 'Uchen', serif;
}
.name{
    color: #302b63;
    margin-top: -20px;
    font-family: 'Encode Sans SC', sans-serif;
}
.half-width{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
}
.half-width img{
    width: 105%;
    margin-top: -100px;
}
.first_section .half-width img{
    width: 135%;
}
.hire_button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(#38ef7d, #11998e);
    padding: 10px 40px;
    border: 2px solid black;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.navigation{
    display: flex;
    justify-content: flex-end;

}
.navigation a{
    text-decoration: none;
    padding: 10px 30px;
    border: 3px solid gray;
    color: whitesmoke;
    background-color: transparent;
    margin-right: 8px;
    font-family: 'Uchen', serif;
}

p{
    text-align: justify;
    margin-bottom: 20px;
    color: thistle;
    font-family: 'Montserrat', sans-serif;
}
.download_button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(#43c4ff, #4400ff);
    padding: 10px 40px;
    border: 2px solid black;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.work_sample{
    display: flex;
    margin-right: 30px;
    width: 510px;
    height: 290px;
}
.img-one{
    margin-right: 20px;
    border-left: 7px solid blue;
    box-shadow: 10px 10px 40px black;
}
.img-two{
    margin-right: 20px;
    border-left: 7px solid blue;
    box-shadow: 10px 10px 40px black;
}
.img-three{
    background-color: #e4d7c7;
    border-left: 7px solid blue;
    box-shadow: 10px 10px 40px black;
    margin-right: 30px;
}
.section_four{
    text-align: center;
}
.section_four p{
    height: 200px;
    width: 250px;
    margin-top: 20px;
    margin-left: 40%;
}
.section_four h3{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: -20px;
}
